/*
  @lesson-02-todo Exercise 2
  Our map doesn't render with a height by default. This means
  we won't actually be able to see our map. How can we add
  a fixed with and height so we can see our map?
*/

/* Add Exercise 2 answer here */

/*
  @lesson-02-todo Extra Credit
  We want to our map to be able to take up as much space
  as possible within our viewport. How can we remove the
  extra padding only on the Search Page?
*/

/* Add Extra Credit answer here */